{% extends 'base.html.twig' %}

{% block title %}À Propos de Notre Plateforme{% endblock %}
{% block description %}
    A propos de la plateforme MISSION C2C, qui visent à mettre en relation les clients et les freelancers, en mettant l'accent sur le fait que c'est 100% gratuit pour les clients et 0% commission pour les freelancers.
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="pt-5">À Propos de Notre Plateforme</h1>

        <p class="mt-4">Bienvenue sur notre plateforme de mise en relation entre les clients et les freelancers dédiée à la création de sites internet. Nous sommes déterminés à simplifier le processus de recherche et d'embauche de freelancers talentueux pour vous aider à concrétiser vos projets en ligne.</p>

        <p>Nous croyons en la collaboration transparente et en l'équité pour tous les utilisateurs de notre plateforme :</p>

        <ul>
            <li>Pour les clients :</li>
            <ul>
                <li>Nos services sont <strong>100% gratuits</strong>. Vous pouvez poster vos projets, parcourir les profils des freelancers, discuter avec eux et les embaucher sans aucun frais.</li>
            </ul>
            <li>Pour les freelancers :</li>
            <ul>
                <li>Nous ne prélevons <strong>aucune commission</strong>. Vous obtenez le paiement total convenu avec le client pour votre travail.</li>
            </ul>
        </ul>

        <p>Nous sommes fiers de fournir une plateforme conviviale qui favorise la collaboration, la créativité et le succès. Si vous avez des questions ou avez besoin d'aide, n'hésitez pas à nous contacter. Merci de nous faire confiance pour vos projets en ligne.</p>

    </div>
{% endblock %}
